html,
body {
  height: 100%;
  margin:0;
  padding:0;
}

#tc,h1,h2
{
  font-family: 'Orbitron',sans-serif;
  color:rgb(235,35,172);
  letter-spacing: 2px;
}
/*-------------------Body-------------------------------------------------*/
body {
  
  margin: 0;
  font-family: 'Inter', sans-serif;
  background:url("OIP.webp") ;
  background-size: cover;
  color:white;
}

body::before{
  content: "";
  position: fixed;
  inset:0;
  top:0;
  left:0;
  
  background:rgba(0,0,0,0.6);
  z-index:-1;
}
header{
    text-align: center;
    padding:20px;
}
.mainContainer{
    text-align: center;
    margin:20px;
}
button{
    background-color: rgb(14, 164, 234);
    padding:20px;
    margin:10px;
    cursor:pointer;
    border:none;
    border-radius: 6px;
    transition: 0.3s;
    font-weight: bold;
    
  
}
button:active{
  transform:scale(0.97);
}
button:disabled{
  opacity:0.6;
  cursor:not-allowed;
}
button:hover{
    background-color: #00d5d5;
}
/*------------------Display--------------------*/
#display{
  max-width:900px;
  margin:auto;
  padding:20px;
  border-radius:10px;

}
#display img,
#display iframe{
    width:100%;
    border-radius: 10px;
    margin-top:10px;
}
#display h2
{
  color:#7dd3fc;
}


/*-------------Date-container---------------*/
.date-container
{
  max-width:350px;
  margin:auto;
  position:relative;
}


.spaceDate
{
 background:rgba(17, 78, 222, 0.85);
 color:white;
 border-radius:18px;
 height:50px;
 font-size: 16px;
 padding:10px;
box-shadow:0 0 10px rgba(56,189,248,0.3);
transition:0.3s ease;
border:5px solid gold
}

.calendar-icon{
  position:absolute;
  right:15px;
  top:50%;
  transform:translateY(-76%);
  font-size:24px;
  pointer-events:none;

}
.spaceDate:focus{
  outline:none;
  border-color:#22d3ee;
  box-shadow:0 0 18px rgba(34,211,238,0.7);
}
.spaceDate::-webkit-calendar-picker-indicator{
  cursor:pointer;
  transform:scale(0.56);
  filter:invert(80%) sepia(40%) saturate(300%) hue-rotate(170deg);
}

/*...............Error Text...................*/
.errText{

  color:red;
  font-weight: bold;
}

/*------keyframes-----*/
@keyframes fadeIn {
  from{opacity:0;}
  to{opacity:1;}
  
}


/*-------------------card---------------*/
.card{
    background:rgba(80,40,140,0.75);
    backdrop-filter:blur(10px);
    border:1px solid rgba(255,255,255,0.1);
    transition:transform 0.3s ease; 
    box-shadow: 0.3s ease;
    color:white;
  
}

.card:hover{
  transform:scale(1.01);
  box-shadow: 0 0 25px rgba(160,80,255,0.25);
}
/*------------Progress Bar------------*/
.progress-bar-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 0%;
  height: 10px;
  background:linear-gradient(90deg,#0fe235,#0099ff);
  transition:width 0.3s ease;
  z-index:99999;
}
/*-----------------Responsive----------*/
@media (max-width: 767px) {
  #display img{
    height:auto;
    width:100%;
  }
}
